<!--pre-loading state-->
<div class="card mb-3" *ngIf="isLoading">
  <div class="card-body">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ml-3 ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ml-3 ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
        <div class="ml-3  ph-col-2 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
      </div>
      <div class="ph-row">
      </div>
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
    </div>
  </div>
</div>
<!--end pre-loading state-->


<div class='card' *ngIf="!isLoading">
  <div class='card-body'>
    <div class='row'>
      <div class="col-8">
        <div class="card-body-title"><h4><span [translate]="'CoursesLocal.CourseElements'"></span></h4></div>
      </div>
      <div class="col-4" align="right">
        <button type="button" class="btn btn-outline-secondary rounded text-secondary"><i class="fa fa-flag-checkered"></i> <span
          [translate]="'CoursesLocal.Schedule'"></span></button>
        <button type="button" class="btn btn-outline-secondary rounded text-secondary"><i class="fa fa-flag-checkered"></i> <span
          [translate]="'CoursesLocal.Elearning'"></span></button>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="row justify-content-start">
          <div class="col-3"><h6><i
            class=" fa fa-flag-checkered "></i>  {{selectedClass?.period.alternateName | translate}} {{selectedClass?.year?.alternateName}}
          </h6></div>
          <div class='col-1'><h6><i class="fa fa-user-secret"></i>   {{ selectedClass?.numberOfStudents }}                  </h6></div>
          <div class='col-6'><h6><i class="fa fa-user-secret"></i>   {{ selectedClass?.course.department.name }}                  </h6>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-3"><h6><i class=" fa fa-flag-checkered "></i>   {{selectedClass?.course?.displayCode}}                  </h6>
          </div>
          <div class='col-5'>
            <div *ngIf="selectedClass?.course?.isShared === 0; else shared"><h6><i class="fa fa-user-secret"></i> <span
              [translate]="'CoursesLocal.SharedCourse'"></span></h6></div>
            <ng-template #shared><i class="fa fa-user-secret"></i>  {{ selectedClass?.numberOfStudents }}                  </ng-template>
          </div>
          <div class='col-2'><h6><i class="fa fa-user-secret"></i> <span
            [translate]="'CoursesLocal.Units'"></span> {{ selectedClass?.course?.units}}                  </h6></div>
          <div class='col-2'><h6><i class="fa fa-user-secret"></i> <span
            [translate]="'CoursesLocal.Ects'"></span> {{ selectedClass?.course?.ects }}                  </h6></div>
        </div>
        <div class="row justify-content-start">
          <div class="col-3"><h6><i
            class=" fa fa-flag-checkered "></i>   {{selectedClass?.course?.instructor?.familyName}} {{selectedClass?.course?.instructor?.givenName}}
          </h6></div>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>          <h6><span [translate]="'CoursesLocal.NoDescription'"></span></h6></div>
</div>
