<header class="app-header navbar">
  <div class="nav navbar-nav">
    <button class="navbar-toggler d-md-none" type="button" appMobileSidebarToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item nav-link sis-brand px-3 d-block d-sm-none" href="#">SIS</a>
    <a class="nav-item nav-link sis-brand px-3 d-none d-sm-block" href="#">Student Information System</a>
  </div>

  <ul class="nav navbar-nav d-sm-down-none ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-home"></i></a>
    </li>
    <li class="nav-item dropdown d-none d-md-block" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
       <span [translate] ="'Courses'"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/courses']">
          <span [translate]="'CoursesCurrent'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/courses/history']" ><span [translate]="'CoursesHistory'"></span></a>
      </div>
    </li>
    <li class="nav-item px-2 dropdown d-none d-md-block" dropdown placement="bottom right">
      <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/projects']"><span [translate]="'Projects'"></span></a>-->

      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <span [translate]="'Projects'"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-center" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/projects/current']">
          <span [translate]="'ProjectsCurrent'"></span>
        </a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/projects/completed']">
          <span [translate]="'ProjectsCompleted'"></span>
        </a>
      </div>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/students']"><span [translate]="'Students'"></span></a>
    </li>
  </ul>

  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">0</span></a>
    </li>
    <li class="nav-item dropdown d-none d-md-block" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="fa fa-caret-down"></i> {{ myName }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/profile']">
          <span [translate]="'ProfileTitle'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/auth/logout']"><span [translate]="'Logout'"></span></a>
      </div>
    </li>

    <li>
      <div class="d-none d-md-block">
        <app-langswitch></app-langswitch>
      </div>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="d-block d-md-none">
  <app-sidebar></app-sidebar>
</div>
  <!-- Main content -->
  <main class="main">

    <div class="container-fluid pt-5">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a href="http://coreui.io"></a> &copy; 2018 Universis Project
  <span class="float-right"></span>
</footer>
