@import "../../../scss/bootstrap-variables";
.card {
  width: 100%;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
}
.font{
  color: #3E515B;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.02px;
  line-height: 30px;
}
.sep-vertical{
  box-sizing: border-box;
  height: auto;
  border: 1px solid #C2CFD6;
}
.sep-horizontal{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #C2CFD6;
}
