<div class="m-lg-3 ">
  <h1 [translate]="'iProjects.ProjectCurrentTitle'"></h1>

  <!--pre-loading state-->
  <div class="card mb-3 mt-5" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ph-col-2 ml-3 big"></div>
          <div class="ph-col-2 ml-3 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div *ngIf="currentProjects">
    <div class="card mb-3 mt-5" *ngFor="let project of currentProjects" > <!-- LOOP OF CARDS -->
      <div class="card-body">
        <div class="row">
          <div class="container-fluid">

            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <h5>{{ project?.name }}</h5>
                </div>

                <div class="row mb-2">
                  <div class="col-md-12">
                    <div class="row">
                      <span class="text-secondary mr-3"><i class="fa fa-flag pr-2"></i>{{ project?.type?.name }}</span>
                      <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i><span [translate]="'iProjects.StartDate'"></span>: {{ project?.startDate | date: 'shortDate'}}</span>
                    </div>
                  </div>
                </div>

                <div class="row mb-2 border-top pt-1" *ngFor="let student of project.students; let isLast=last">
                  <div class="col-md-12">
                    <div class="row">
                      <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{ student.student?.person?.name }} </span>
                      <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i><span [translate]="'iProjects.IdentifierTitle'"></span>: {{ student.student?.studentIdentifier }} </span>
                      <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ student.student?.graduationTitle }} </span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && currentProjects && currentProjects.length === 0">
    <div class="info-text" [translate]="'iProjects.ProjectActiveEmpty'"></div>
  </div>

</div>
